@model WebBook.Models.Warehause
@{
    ViewData["Title"] = "Edit";
}

<h4>Edit warehause</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WarehauseId" />
            <div class="form-group">
                <label asp-for="WarehauseLocation" class="control-label"></label>
                <input asp-for="WarehauseLocation" class="form-control" />
                <span asp-validation-for="WarehauseLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarehauseName" class="control-label"></label>
                <input asp-for="WarehauseName" class="form-control" />
                <span asp-validation-for="WarehauseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                <a asp-controller="Warehauses" asp-action="Index" class ="btn btn-secondary" style="width:150px">Back to list</a>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
    
}

